.user-header-block-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.user-header-style {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 22px;
}